html,
body {
    height: auto;
    font-family: Raleway;
    margin: auto;
}

/* FlexBox */


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Besoins du site */

.ecritlarge {
    font-size: large;

}

.backgris {
    background-color: #f2f2f2;

}

.backbleu {
    background-color: #0065fc;

}

.backbleuc {
    background-color: #deebff;

}

.colorgris {
    color: #f2f2f2;

}

.colorbleu {
    color: #0065fc;

}

.colorbleuc {
    color: #deebff;

}


.textgras {
    font-weight: bold;

}

.colorblack {
    color: black;
}

.modelien {
    color: black;

}

.modelien:hover {
    color: gray;
    cursor: pointer;

}






/* logo */

#taillelogo {
    height: 50px;
    width: 120px;
}

#taillelogo img {
    height: 100%;
    width: 100%;
}

#marglogo {
    margin-bottom: 7px;
}



/* Barre menu */


#sizeliens {
    width: 100%;
}


.deconon {
    text-decoration: none;
}

.borderno {
    border: none;
}

.sizelien12 {
    margin-left: 70%;
}

.iconposition {

    padding-bottom: 50px;

}

.sizelien {
    width: 140px;
    height: 98px;
}

.bordure {
    border-top: 1px solid transparent;
}

.bordure:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}

.bordure:hover>a {
    color: #0065fc;

}

#body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}


#sizenav {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

/* Recherche */

.bordersearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;

}

.iconsize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;

}

.iconsize:hover {

    color: #0065fc;
    cursor: pointer;

}

.search {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}



.paddingsearch {
    padding-left: 20px;

}

.buttonsearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;

}

.buttonsearch:hover {

    background-color: darkblue;
}

.desktopnone {
    display: none;

}


/* Filtre */

.filtre {
    display: flex;
    align-items: center;

}

.margefiltre {
    margin-top: 50px;
    margin-bottom: 40px;

}

.margefiltretitre {
    margin-right: 20px;

}

.filtretxticn {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreicn {
    margin-left: -2px;
    height: 52px;
    border-radius: 25px;
    width: 52px;
    color: #0065fc;
    background-color: #deebff;
}

.filtretxt {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;

}

.filtretxticn:hover>.filtretxt {
    color: #0065fc;
    cursor: pointer;
}

.filtretxticn:hover>.filtreicn {
    color: white;
    background-color: #0065fc;
    cursor: pointer;
}


/* Info */


.info {
    display: flex;
    align-items: center;
}

.iconinfo {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}


/* Hebergement */

.sizeheber {
    flex: 2;
    height: 800px;
    margin-right: 20px;
    border-radius: 10px;
}



.blocheber {
    padding-left: 40px;
    padding-right: 40px;

}

.cubeheber {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;

}

.cubeheber:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #0065fc;

}

.bloc1 {
    margin-bottom: 10px;
}

.bloc2 {
    margin-top: 10px;
}

.cubedetailheber {
    width: 90%;
    padding-left: 10px;

}

.imgheber1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgheber2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgheber3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgheber4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgheber5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgheber6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

#aff:hover {
    cursor: pointer;

}

.margintitreheber {
    margin-top: 30px;

}

/* populaire */

.sizepopu {
    flex: 1;
    height: 800px;
    margin-left: 20px;
    border-radius: 10px;
}

.blocpop {
    padding-left: 40px;
    padding-right: 40px;


}

.blocpop12 {
    margin-bottom: 70px;
}

.bloctitrepop {
    margin-bottom: 80px;
}




.cubepop {
    background-color: white;
    height: 200px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-top: -50px;

}

.cubepop:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #0065fc;

}


.cubedetailpop {
    width: 60%;
    padding-left: 5%;

}

.imgpopu1 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 200px;
    border-radius: 15px 0 0 15px;
}

.imgpopu2 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 200px;
    border-radius: 15px 0 0 15px;
}

.imgpopu3 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 200px;
    border-radius: 15px 0 0 15px;
}

.margintitrepopu {
    margin-top: 35px;

}

.paddingpop {
    padding-bottom: 20px;

}


/* Activités */

.activite {
    margin-top: 50px;
    margin-bottom: 50px;


}

.blocactivite {
    width: 100%;
    height: 600px;
}

.blocactivite2356 {
    width: 23%;
    height: 600px;
}


.cubeactivite {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeactiviteimg2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}


.titrehautactivite {
    height: 70px;
}

.titreactivite {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.imgactivite1 {
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.imgactivite2 {
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.imgactivite3 {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgactivite4 {
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.imgactivite5 {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgactivite6 {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}





.cubeactivite:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: #0065fc;

}

.cubeactiviteimg2356:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: #0065fc;

}




/* footer */



.footer {
    height: 300px;
    margin-top: 50px;
}

.blocfooter {
    height: 150px;
}

.margeblocfoot1 {
    margin-left: 5%;
    margin-top: -50px;

}

.margeblocfoot3 {
    margin-right: 15%;
    margin-top: -60px;

}

.margeblocfoot2 {
    margin-top: -80px;

}










/* responsive grande tablette */

@media screen and (max-width: 1299px) {
    .sizelien12 {
        margin-left: 35%;
    }

    .cubedetailheber {
        min-height: 150px;
    }

    .sizeheber {
        min-height: auto;
        padding: 20px;
    }

    .sizepopu {
        min-height: auto;
        padding: 20px;
    }






}

/* responsive  tablette */


@media screen and (max-width: 990px) {
    .mobileFiltreWrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtretxticn {
        margin-bottom: 20px;
    }

    #hebergement {
        flex-direction: column-reverse;
        width: 100%;
    }

    .blocpop {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }

    .blocheber {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
}


/* responsive tablette-mobile */


@media screen and (max-width: 770px) {
    #sizeliens {
        width: 90%;
    }

    .sizelien12 {
        margin-left: 20%;
    }

    .blocheber {
        height: auto;
    }

    .bloc1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .bloc2 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .cubeheber {
        width: 100%;
        margin-bottom: 50px;
    }



    .cubedetailheber {
        min-height: auto;
    }

    .blocactivite {
        flex-direction: column;
        height: auto;


    }

    .cubeactivite {
        width: 100%;
        margin-bottom: 50px;


    }

    .blocactivite2356 {
        width: 100%;
        height: auto;


    }

    .cubeactiviteimg2356 {
        margin-bottom: 50px;


    }

    .imgactivite1,
    .imgactivite2,
    .imgactivite3,
    .imgactivite4,
    .imgactivite5,
    .imgactivite6 {
        height: 200px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }



    .margeblocfoot1 {
        margin-left: 0;
    }

    .margeblocfoot1 {
        margin-top: 20px;

    }

    .margeblocfoot3 {
        margin-top: 0px;

    }

    .margeblocfoot2 {
        margin-top: 0px;

    }



}

/* responsive full-mobile */



@media screen and (max-width: 600px) {


    .sizelien12 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }

    .sizelienmobile {
        width: 50%;
        border-top: 0;
        border-bottom: 5px solid #f2f2f2;
    }

    .sizelien {
        height: 70px;
    }

    #sizeliens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 20px;

    }

    .sizelienmobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }

    .mobiletitreapara {
        font-size: x-large;

    }

    .mobilelarge {
        font-size: large;

    }


    .bordersearch {
        width: auto;
        border: none;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }

    .search {
        width: 300px;


    }

    .buttonsearch {
        width: 50px;
        border-radius: 15px;

    }

    .desktopnone {
        display: block;

    }

    .mobilenone {
        display: none;

    }

    .margefiltre {
        margin-top: 20px;
        padding-left: 5%;
        margin-bottom: -20px;
    }

    .mobeco {
        margin-right: 5px;
    }

    .mobfam {
        margin-right: 0;
    }

    .filtretxt {
        padding-left: 10px;
        padding-right: 10px;
    }

    .info {
        padding: 5%;
    }

    .blocpop {
        border-radius: 0;
    }


    .blocheber {
        background-color: white;
    }

    .mobiletitreapara {
        padding-left: 5%;
    }

    .blocactivite {
        padding: 5%;
        width: 90%;
    }

    .footer {
        margin-top: 0px;
        padding-bottom: 50px;
    }



    html,
    body {
        margin: 0;
        padding: 0;

    }

}